:root {
    --blue-color: rgb(55, 68, 121);
    --red-color: #963023;
    --light-red-color: #bd1b18;
    --yellow-color: #f7cd0b;
    --gray-color: rgb(146, 146, 146);
    --dark-gray-color: rgb(122, 122, 122);
}


body {
    padding: 0 32px;
    margin: 0;
    font-family: 'Roboto Flex', sans-serif;
}

.content {
    max-width: 1300px;
    margin: auto;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

.btn {
    border: none;
    min-width: 70px;
    padding: 8px;
    border-radius: 2px;
    text-transform: uppercase;
}

.btn-primary {
    background-color: var(--blue-color);
    color: white;
}

.languages {
    border-top: 3px solid var(--blue-color);
    border-bottom: 1px solid var(--gray-color);
    display: flex;
    justify-content: center;
    gap: 64px;
    font-size: .80rem;
    padding: 8px;
}

.languages a {
    color: var(--blue-color);
}

.languages a:visited {
    color: black;
}

.vsu {
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.vsu-links {
    width: 20%;
    text-align: center;
}

.vsu-links a {
    text-decoration: underline;
    display: block;
    color: var(--blue-color);
}

.page-search {
    display: flex;
    gap: 16px;
    align-items: center;
}

.page-search input {
    font-size: .60rem;
    padding: 8px;
    text-transform: uppercase;
    text-decoration: solid;
    width: 124px;
    height: 30px;
    border: 1px solid var(--gray-color);
}

.main-info {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
}

.main-info--links {
    padding: 12px;
    background-color: var(--blue-color);
    display: flex;
    justify-content: space-around;
}

.main-info--links a {
    text-transform: uppercase;
    color: white;
}

.main-info--boxes {
    padding: 16px;
    display: flex;
    justify-content: space-between;
}

.dropbtn {
    border: 0;
    background: transparent;
    text-transform: uppercase;
    color: var(--dark-gray-color);
    font-size: .9rem;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    border: .75px solid var(--gray-color);
    min-width: 160px;
    z-index: 1;
    padding: 8px 16px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {display:block;}

.greetings {
    position: relative;
}

.pointed-borders {
    padding: 20px 0;
    border-top: 6px dotted rgba(55, 68, 121, .5);
    border-bottom: 6px dotted rgba(55, 68, 121, .5);
}

.img-border {
    display: flex;
    align-items: center;
    padding: 4px;
    margin: 10px;
    border-radius: 4px;
    border: 1px solid var(--gray-color);
    float: left;
}

.rector {
    margin: 0;
}

.greetings p:nth-child(2) {
    margin-top: 10px;
}

.signature {
    font-family: 'Roboto Condensed', sans-serif;
    position: absolute;
    right: 0;
    bottom: 16px;
}

.info {
    display: grid;
    grid-template-columns: 1fr .5fr .5fr;
    gap: 32px;
}

.info-header {
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--light-red-color);
    text-transform: uppercase;
    text-decoration: none;
}

.news-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 16px;
    row-gap: 12px;
}

.news-date {
    display: block;
    font-weight: bold;
    margin: 16px 0;
}

.news-item a {
    color: var(--blue-color);
}

.news-item a:hover {
    color: var(--light-red-color);
}

.news-links a {
    text-decoration: underline;
    font-size: .8rem;
    color: var(--blue-color);
}

.news-links a:visited {
    color: black;
}

.news-image-container {
    width: 160px;
    height: 160px;
    overflow: hidden;
}

.news-image {
    width: 100%;
    height: 100%;
    transition: transform .5s ease;
}

.news-image:hover {
    transform: scale(1.25);
}

.news-views {
    font-size: .8rem;
}

.add {
    padding: 12px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: rgba(55, 68, 121, .4);
}

.add {
    margin-bottom: 8px;
}

.add a {
    color: white;
}

.top-ads .add {
    background-color: var(--light-red-color);
}

.mid-ads .add {
    background-color: var(--blue-color);
}

.btn-news,
.btn-ads {
    display: block;
    padding: 12px;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 64px;
}

.btn-news {
    margin-top: 24px;
}

.big-num {
    font-size: 3.5rem;
    color: var(--light-red-color);
    font-weight: bold;
}

.third > div {
    margin-bottom: 64px;
}

.timetable-item {
    margin-bottom: 8px;
}

.timetable-item * {
    margin: 0;
}

.third-links a {
    display: block;
    font-size: 1rem;
    margin-bottom: 12px;
}

.social {
    margin: 24px 0;
    height: 124px;
    background-color: var(--blue-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.social a {
    width: 32px;
    height: 32px;
    color: var(--yellow-color);
    border: 2px solid var(--yellow-color);
    border-radius: 50%;
    padding: 12px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
}

.social a:hover {
    color: var(--blue-color);
    background-color: var(--yellow-color);
}
